* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  display: grid;
  grid-template-rows: 1.5fr 3fr 1fr;
}

.width-container {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.top-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
  color: #f5f5f5;
}

.top-navbar h1 {
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #f5f5f5d1;
}

.link-style {
  text-decoration: none;
}

.navbar {
  display: flex;
  list-style: none;
  gap: 20px;
}

.navbar a {
  text-decoration: none;
  color: #f5f5f5d1;
  text-transform: uppercase;
  font-weight: bold;
}

.navbar a:hover {
  color: #c4c0c0;
}

footer {
  background: #333;
  color: white;
  place-items: center;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.social-icons a {
  border: 2px solid #333;
  border-radius: 50%;
  padding: 5px;
  transition: border 0.3s;
}

.social-icons a:hover {
  background-color: #d5d4d4;
}

.footer-restaurant-info {
  text-align: center;
}

.footer-restaurant-info p {
  letter-spacing: 1px;
  font-size: 0.9rem;
}

header {
  background: #333 url("images/Restaurant-image.jpg") center/cover no-repeat;
  color: #f5f5f5;
}

.reservation-container {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 40%;
  margin: 0 auto;
  width: 100%;
}

main {
  display: flex;
  align-items: center;
  width: 100%;
}

h2 {
  text-align: center;
  color: #333;
  font-size: 24px;
  margin-bottom: 20px; /* Adds space below the heading */
}

label {
  display: block;
  margin-top: 10px;
  color: #333;
}

@media (max-width: 950px) {
  .reservation-container {
    max-width: 90%;
  }
}

select,
input[type="date"],
input[type="time"],
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
}

textarea {
  resize: none;
}

input[type="submit"] {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 0.625em 1.25em;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 1.125rem;
  margin-top: 1.25rem;
}

@media (max-width: 768px) {
  /* Navbar styles for small screens */
  .navbar {
    display: none;
  }
  .menu-icon {
    display: block;
    cursor: pointer;
  }

  /* Display the dropdown menu when the menu icon is clicked */
  .menu-icon.active ~ .navbar {
    display: block;
  }

  /* Change the hamburger icon appearance */
  .menu-icon .bar {
    width: 25px;
    height: 3px;
    background-color: #f5f5f5d1;
    margin: 5px 0;
    transition: 0.4s;
  }

  .menu-icon.active .bar:nth-child(2) {
    opacity: 0;
  }
}
